body{
	background-image: url(about4.jpg);
	background-size:cover;
	background-repeat: no-repeat; 
}
.nav img{
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin-left: 40px;
	margin-top: 5px;
}
.nav figcaption{
	font-size: 20px;
	color: red;
	font-family:cursive;
}
.collapse ul li{
	font-family: cursive;
	margin-top: 30px;

}
ul li:hover{
	background-color: #ff80ff;
	border-radius: 20px;
}
.nav h3{
	font-size: 40px;
	color:black;
	font-family: cursive;
	text-align: center;
}
.nav h2 {
	font-family:cursive;
	font-size: 60px;
	color: #800033;
	text-align: center;
}
.nav1 img{
	margin-bottom: 20px;
}